

.blogHeader{
    background-image: url(../assets/blog-header-1.jpg);
    margin-bottom: 0px;
}
.blogTitle .wrapper{
    h1{
        color: white;
        margin-left: 10%;
        font-family: $secondaryFont;
        font-size: 4rem;
        margin-top: 20px;
    }
}
.wrapper{
    margin: 0 auto;
}
.blogBox{
    .wrapper{
    display: flex;
    color: $solidWhite;
    
    .sideBlog{
        margin: 100px auto;
        width: 50%;
        .sideBlogContent{
            padding-bottom: 30px;
            width: 80%;
            background-color:  $quinary;
    }
    .ourMission{
        padding: 0px 20px;
        font-family: $primaryFont;
        h2{
            margin:0px ;
            font-size: 40px;
            font-weight: bold;
        }
        p{
            margin: 0px;
            font-size: 25px;
            font-weight: lighter;
        }
        a{
            color: $tertiary;
            font-size: 25px;
            font-weight: lighter;
        }
    }
    .recentPost{
        padding: 0px 20px;
        font-family: $primaryFont;
        h2{
            margin-bottom: 0px;
            font-size: 40px;
            font-weight: bold;
        }
        ul{
            margin-top: 0px;
            font-size: 25px;
        }
        ul li::before {
            content: ""; 
            background-color: $secondary; 
            font-weight: bold; 
            display: inline-block; 
            margin-right: 10px;
            width: .5rem;
            height: .5rem;
            border-radius: 100px; 
            margin-left: -1rem;
            font-size: 30px;
        }
    }
}
}
}
a{
    text-decoration: none;
    color: white;
}

.sideBlogImg{
    position: relative;
    width: 120%;
    right: 64px;
    top: -16px;
}


.currentBlog{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-left: 30px;
    border-left: 4px solid $tertiary;
    border-bottom: 4px solid $tertiary;
    padding-left: 0px;
    .currentBlogPost{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        font-family: $primaryFont;
        h2{
            margin: 0px;
            font-size: 40px;
        }
        h3{
            margin-top: 0px;
            color: $tertiary;
            font-size: 25px;
        }
        p{
            font-size: 25px;
        }
    }
    .currentBlogImg{
        top: -65px;
        position: relative;
        img{
        box-shadow: -13px 13px 0px -1px $tertiary;
        margin-left: 8px;
        
    }
}
}
.comments{
    max-width: 1200px;
    margin-right:  0px;
    width: 70%;
    font-family: $primaryFont;
    h2{
        padding-left: 15%;
        color: $solidWhite;
        font-size: 60px;
        margin: 0px;
    }
    .commentBox{
        width: 70%;
        margin: 0 auto;
    }
}

.commentBox{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.userComment{
    display: flex;
    .commentImg{
        padding-top: 10px;
        margin-right: 20px;
        display: inline-block;
    }
    .commentText{
        width: 80%;
        h4{
            font-size: 35px;
            margin: 0px;
            color: $tertiary;
        }
        p{
            margin: 0px;
            color: $solidWhite;
            font-size: 25px;
        }
    }
}
.commentInput{
    width: 80%;
    margin: 40px auto;
    input, textarea{
    font-family: $primaryFont;
    background-color: $primary;
    border-color: $tertiary;
    font-size: 30px;
}
textarea{
    padding: 20px;
}
}
.messageBox textarea{
    transition-duration: 1s;

}
.messageBox textarea:hover,
.messageBox textarea:focus{
    border-color: $solidWhite;
}

@media(max-width:800px){
    .title h1{
        margin: 0px;
    }
    .blogBox{
    .wrapper{
    display: flex;
    flex-direction: column-reverse;
    }
}
.comments{
    width: 100%;
    border-top: 4px solid $tertiary;;
    }
.blogBox .wrapper .sideBlog .sideBlogContent {
    width: 130%;

}
.currentBlog .currentBlogImg{
        top: -17px;
}
.commentInput{
    
    input{
        width: 80%;

    }
    
}
}