body{
    background-color: $primary;
}
header{
    background-image: url(../assets/contact-header-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}
.contactTitle{
    .wrapper{
        
        h1{ 
            font-family: $secondaryFont;           
            font-size:4.5rem;
            margin-top: autopx;
            margin-bottom:0px;               
        }
    }
}
.contactBox{
    margin: 0 auto;
    max-width: 1200px;
    background-color: $primary;
    height: 100%;
    padding: 20px;
    font-family: $primaryFont;
}

.contactBox .wrapper{
    display: flex;
    position: relative;
    margin: 0px;
    gap: 10%;
    
    
}

.contactInfo{
    align-content: flex-start;
    display:flex;
    flex-direction: column;
    left: 20px;
}
.inputBox{
    // margin-left: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: $quinary;
    box-shadow: 13px 12px 0px -1px $tertiary;  
    position: absolute;
    top: -125px;
    right: 0px;
    

}
.mediaIcon{
    ul{
    display: flex;
    padding: 0px;
    i{
        font-size: 20px;
        padding-right: 20px; 
        line-height: 50%;
    }
}
}
.email{
    p{
    margin: 0px;
    font-size: 30px;
    line-height: 0%;
    padding-bottom: 20px;
}
}
.addressInfo ul{
    padding: 0px;
    p{
        margin: 0;
        font-size: 35px;
        line-height: 70%;
    }
}
form{
    color: $solidWhite;
    margin: 0 auto;
    width: 90%;
}

button {
    margin: 40px auto;
    width: 100%;
    border: none;
    color: white;
    background: $secondary;
    padding:  0;
    height: 40px;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 3.2px;
    transition-duration: 1s;
}
button:hover,
button:focus{
    background-color: $tertiary;
}

input{
    border: none;
    color: $solidWhite;
    background-color: $quinary;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 3.2px;
    border-bottom: 1px solid $solidWhite;
    font-family: $primaryFont;
    transition-duration: 1s;
}
input:hover,
input:focus{
    border-color: $tertiary;
}
input[type=text]{
    width: 45%;
    height: 60px;
    padding-left: 10px;
} 

.infoInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 45%;
}
.messageBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
textarea{
    background-color: $quinary;
    color: $solidWhite;
    margin: 40px auto 20px auto;
    padding: 20px;
    font-size: 25px;
    width: 100%;
    height: 200px;
    border: 1px solid $solidWhite;
    font-family: $primaryFont;
    transition-duration: 1s;
}
textarea:hover,
 textarea:focus{
    border-color: $tertiary;
}

.contactFooter{
position: absolute;
   bottom:0;
   width:100%;
   height:60px;   
}
@media( max-width:390px){
    .contactTitle{
    .wrapper{        
        h1{ 
            margin-top: 0px;
        }
    }
}
}
@media(max-width:1000px){
    header{
        margin-bottom: 0px;
    }
    .contactBox .wrapper{
        flex-direction: column;
        .inputBox{
            width: 100%;
            position: static;
        }
    }

.contactFooter{
    position: static;
}
}

