
header{
    background-image: url(../assets/home-image-1.jpg);
    background-size: contain;
    // margin-bottom: 80px;
//     position: relative;
// }
.title{
color: #ff8327;
font-family: $secondaryFont;
font-size: 6rem;
line-height: 50%;
text-align: center;
    h1{
        margin: 0 auto;
    }
h1 span {
    color: #fff;
    font-size: 2rem;
    top: 20;
    display: block;
}
}
