
header{
    background-image: url(../assets/home-image-1.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    // margin-bottom: 80px;
//     position: relative;
// }
.title{
color: #ff8327;
font-family: $secondaryFont;
font-size: 4rem;
padding-top: 60px;
display: flex;
align-items: center;
    h1{
        line-height: 50%;    
    }
h1 span {
    color: $solidWhite;
    font-size: 2rem;
    display: block;
    
}
}

.headerBox{
    width: 50%;
    display: none;
}
}

