header{
    background-image: url(../assets/home-image-1.jpg);
    background-size: contain;
    margin-bottom: 80px;
    position: relative;;
    
}
.title{
    margin-top: 80px;
    h1{
        color:$tertiary;
        font-family: $secondaryFont;
        font-size: 8rem;
        bottom: 0px;
        position: absolute; 
        z-index: 1;
        line-height: 50%;
        
        
}
 h1 span{
    color: $solidWhite;
    text-align: left;
    font-size: 2rem;
    top: 0;
    display: block;
}
}

.headerBox{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -85px;
    }
