.navBar{
    width: 100%;
    padding-top: 0px;
    margin: 0 auto;
    .wrapper{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto ;
            ul{
                text-decoration: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding:  0px;
                margin:  0px;
                li{
                    display: block;
                    padding: 10px;
                    margin: 0px;
            
                }
            }
            h4{
                visibility: hidden;
                margin: 0px;
                padding: 0px;
            }
            a{
                text-decoration: none;
                color: #fff;
                font-size: 30px;
                font-weight: bold;
                padding:5px 10px;
                text-transform: uppercase;
            }
                
    }
}
.title{
    h1{
    color:$tertiary;
    text-align: center;
    margin: 0px;
    }
    h2{
    color: $solidWhite;
    text-align: center;
    margin: 0px;
    }
}
.navBar {
    a{
        transition-duration: 1sec;
    }
    a:hover,
    a:focus{
        color: $tertiary;
    }    
}