.aboutContainer{
    background-color: $primary;
    padding: 30px 0px 60px 0px;
    .wrapper{ 
        display: flex;
        flex-direction: column;     
            div{
                width:100%;
            h2, p{
                color: $solidWhite;
            }
            i{
                background-color: $secondary;
                padding: 10px;
                border-radius: 150px;
                
            }
        }
    }
    .community, .blog, .getInTouch, .newSpace{
        display: flex;
        flex-basis: 50%;
        gap: 1%;
        width: 100%;
        h2{
            margin: 0px;
        }
        p{
            margin-top: 0px;
        }
        i{
            margin-bottom: auto;
        }
    }
}
.planLocations{
    background-color:$quinary ;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 10%;
    .wrapper{
        max-width: 1300px;
        margin: 0px auto;
        div{
            color: $solidWhite;
            a{
                color: $solidWhite;
                text-decoration: none;
                background-color: $secondary;
                padding: 10px 25px;
                // margin: 10px auto;

            }
        }
    }
}
.newLocation .wrapper{
    display: flex;
    flex-direction: column;  
    padding: 30px auto ;
}
.locationImg{
    margin: 0px;
    width: 100%;
    
    img{
    box-shadow: 13px 12px 0px -1px $tertiary;  
    
    }  
}
.locationText{
    display: flex;
    flex-direction: column;
    text-align: center;
    a{
        margin:10px  auto;    
    } 
    p{
        text-align: left;
        padding-left: auto;
    } 
}

.planAhead {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 0px;
}
.planImg{ 
    margin: 30px auto;   
    img{
    box-shadow: -13px 13px 0px -1px $tertiary;
    }
}
.planText{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    // padding-bottom: 20px;
    a{
        margin:10px  auto;
    }
}
.readMore{
    transition-duration: 1sec;
}
    .readMore:hover,
    .readMore:focus{
        background-color: $tertiary;
    }

// host a party menu ===============//

.hostParty{
    background-color: $primary;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
            
        h2{
            margin: 0 auto;
        }
        p{
            margin: 0PX AUTO;
        }
        a{
        transition-duration: 1sec;
            a:hover,
            a:focus{
                background-color: $tertiary;
            }
        }
    }
}
.findMore{
        color: $solidWhite;
        text-decoration: none;
        background-color: $secondary;
        padding: 10px 25px;
        margin: 10px auto;
        display: inline-block;
        font-size: 18px;
        transition-duration: 1sec;
}
    .findMore:hover,
    .findMore:focus{
        background-color: $tertiary;
    }
    // events============// 

    .eventsContainer{
        background-color: $primary;
        margin: 50px auto 60px auto;
    }
    .eventImg{
        flex-basis: 30%;
        img{
            margin: 0 auto;
            width: 80%;
            box-shadow: -13px 13px 0px -1px $tertiary;
        }
    }

    .eventText{
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 50px 0px;
        h2{
            margin: 0px;
        }
        p{
            margin: 0 auto;
        }
        a{
            margin: 0px auto 0px 0px;
            transition-duration: 1sec;
        }
        a:hover,
        a:focus{
    background-color: $tertiary;
        }
}
        

    .galleryContainer{
        background-color: $quinary;
        
        .wrapper{
            display: flex;
            width: 100%;
            margin:0px;
            justify-content: center;
            img{
        width: 100%;
        height: 100%;
            }
            .thirdImg{
                visibility: collapse;
            }
        }
    }
    footer{
        background-color: rgb(63, 62, 62)
        ;
        text-align: center;
        p{
            padding: 20px ;
            margin: 0 auto;
        }
    }

    
    a{
        transition-duration: 1sec;
    a:hover,
    a:focus{
        background-color: $tertiary;
    }
}