/* _variables.scss */

/* site fonts */
$primaryFont: 'Chathura', sans-serif;
$secondaryFont: 'Tulpen One', sans-serif;
/* if we set our root element font-size to 125%, then 1 rem = 20px */
$baseFontSize: 1rem;

/* site colours */
$primary: rgb(17, 16, 16); 
$secondary: #bf2603; 
$tertiary: #ff8327;
$quaternary: #111010; 
$quinary: #220303; 
$solidWhite: #fff; 