@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/base";
@import "./partials/nav";
@import "./partials/header";
@import "./partials/section";
@import "./partials/mediaquery";
@import "./partials/contact";
